//- List of anchors in menu
ul(class=`
  divide-y 
  divide-gray
  w-full
  m-auto
  overflow-hidden
  md:divide-transparent
  md:flex
  md:justify-center
`)
  each item in items
    li(title=item.title, class=`
      md:justify-center
      md:align-center
      md:relative
      md:w-auto
      md:bg-transparent
    `)
      a(href=item.ref, class=`
        flex
        relative
        py-4
        md:leading-7
        md:text-sm
        md:py-1
        md:px-4
        md:rounded
      `)
        i(class=item.icon)
        span(class='text-lg block transition ease-in duration-200 text-white md:text-sm')= item.title
