div#whatsapp(class='flex fixed z-50')
  button(type='button', name='whatsapp')
    a(href='https://wa.me/5547991109930', target='_blank', rel='noopener')
      img(class='w-8 h-8', src=require('Assets/svg/whatsapp.svg').default)
