//- Home Section
section#home(data-scrollspy='true', class=`
  min-w-screen 
  h-screen 
  flex 
  items-center 
  justify-center
  text-center
  relative
`)
  //- Home typewritted text
  h1(class=`
    flex 
    items-center 
    justify-center
    font-bold
    text-white
    px-6
    absolute
    h-16
    text-5xl
  `) Hello. I'm Julio Cesar.
