footer(class=`
  bg-darkgray
  min-w-screen
  flex
  flex-col
  justify-center
  align-center
  text-center
  p-10
`)
  small(class='text-sm m-auto mb-3') 
    | Made with #[i.fa.fa-heart] by 
    | #[a(class='underline', target='_blank', rel='noopener', href='https://twitter.com/juliocesarmfo') @juliocesarmfo]
  small 
    | Hosted by #[a(target='_blank', rel='noopener', href='https://vercel.com') Vercel]
