//- My Projects Section
section#projects(data-scrollspy='true', class=`
  bg-darkgray
  flex
  flex-col
  justify-center
  align-center
  text-center
  px-6
  pt-4
  pb-32
  md:pb-12
`)
  h2(data-scroll-animate='on', data-animate-from='right', class=`
    text-xl 
    text-white
    bg-purple-700
    self-center
    shadow-sm
    rounded
    px-4
    py-2
    mb-10
  `) My projects
  article(data-scroll-animate='on', data-animate-from='left', class='w-full flex justify-center align-center')
